extends layout.pug
block blahblah
    h1 #{Gtitle}
    ul
        li
            a(href=`${Groutes.login}`) login~
        li
            a(href=`${Groutes.photos}`) photo ~
        li
            a(href=`${Groutes.profile}`) profile~